table.table-admin-panel tr td {
	font-size: 1.15em;
}
table.table-admin-panel tr>td:first-child {
	width: 230px;
	position: relative;
}
table.table-admin-panel tr>td:first-child i {
	position: absolute;
	top: 15px;
}
table.table-admin-panel tr>td:first-child a {
	padding-left: 30px;
}
input[type=file].form-control.jqv-input{
    padding-top:8px;
}
.form-group label a.pull-right,
.select2-container--default .select2-selection--multiple{
      min-height: 38px !important;
      height:auto !important;
}
select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint,
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
	background-color: #fff;
	color: #495057;
    border: 1px solid rgba(135, 150, 165, 0.35);
    /*height: 49px;*/
 min-height: 38px !important;
    padding: 0 15px;
}
.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {
	background-color: #fff;
	color: #495057;
}

.ui-list-view table.dataTable {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ui-list-view table.dataTable .dropdown {
    width: 25px;
    border: 1px solid #888;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
}

.ui-list-view .pagination li {
    cursor: pointer;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting, table.dataTable tbody > tr > td, table.dataTable tbody > tr > th {
    vertical-align: top;
}

.ui-web-client .dropdown .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
}

.ui-web-client .dropdown-menu.action-menu {
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.ui-search-view {
	height: 75px;
}
.ui-search-view .ui-search-input, .ui-search-view .bootstrap-tagsinput input {
	height: 30px;
}
.ui-search-view input.form-control.form-control-sm {
    height: 35px;
    min-width: 100px;
}
.ui-search-view .bootstrap-tagsinput {
    max-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ui-search-view input.ui-search-input {
    display: none;
}
.ui-search-view .search-view-more {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 100;
	padding: 0px;
	margin: 0;
	cursor: pointer;
    display: none;
}
.ui-search-view .ui-search-filter {
	margin-left: -10px;
}
.ui-search-view .badge {
    margin: 0 2px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    padding-right: 25px;
}
.ui-search-view .bootstrap-tagsinput .badge [data-role="remove"] {
    position: absolute;
    top: 5px;
    right: 5px;
}

/**
 * Statusbar
 */
.ui-form-view .ui-form-statusbar {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #ecf0f8;
        padding: 8px 15px;
    /*padding-left: 16px;*/
    z-index: 1;
}
.ui-form-view .ui-form-form {
    margin-top: -2px;
}
.ui-statusbar-buttons {

}
.ui-statusbar-buttons > .btn {
    height: 30px;
    margin-top: 4px;
    margin-right: 8px;
}
.ui-form-statusbar .ui-statusbar-status {
	overflow: hidden;
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button {
    min-height: 37px;
    position: relative;
    padding-left: 24px;
    border-radius: 0px;
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button.disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: auto;
    color: #a8a8a8;
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button.btn-primary.disabled {
    color: white;
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button:before, .ui-form-statusbar .ui-statusbar-status > .arrow-button:after {
    content: " ";
    display: block;
    position: absolute;
   top: -2px;
    left: auto;
    bottom: auto;
    right: -11px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: none;
    border-left: 12px solid #ffffff;
    -moz-transform: scale(0.9999);
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button:before {
    right: -12px;
    border-left-color: rgba(128, 128, 128, 0.5);
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button.btn-primary:before {
    border-left-color: #f16979;
}
.ui-form-statusbar .ui-statusbar-status > .arrow-button.btn-primary:after {
    border-left-color: #f16979;
}

/*.sidebar .nav-link.nav-link-dashboard{*/
/*  background-image: url("../images/icons/dashboard.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-user{*/
/*  background-image: url("../images/icons/user-1.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-accounting{*/
/*  background-image: url("../images/icons/growth.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-company{*/
/*  background-image: url("../images/icons/restaurant.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-product{*/
/*  background-image: url("../images/icons/idea.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-sales{*/
/*  background-image: url("../images/icons/sales.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-coupon{*/
/*  background-image: url("../images/icons/coupon.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-cms{*/
/*  background-image: url("../images/icons/cms.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-reports{*/
/*  background-image: url("../images/icons/reports.png");*/
/*}*/
/*.sidebar .nav-link.nav-link-notification{*/
/*  background-image: url("../images/icons/notification.png");*/
/*}*/

.input-view-password {
    position: absolute;
    top: 15px;
    right: 45px;
    z-index: 100;
    color: inherit;
}

.status-indicator {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

.user-symbols.small {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

/**
 * Pulse
 */
.blob {
    background: black;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 8px;
    width: 8px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.blob.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.blob.red {
    background: #da1d1d;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.blob.orange {
    background: #ff8300;
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

.blob.yellow {
    background: rgba(255, 177, 66, 1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
}

.blob.blue {
    background: #5c3bc4;
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.green {
    background: #0acf97;
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.blob.purple {
    background: rgba(142, 68, 173, 1);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
    animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
}

/**
 * Icons
 */
/*.mdi-menu::before {*/
/*	content: '';*/
/*}*/

/**
 * Select2
 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 1rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    background: #FFFFFF;
}
.select2-container--default .select2-search--inline .select2-search__field {
    text-indent: 5px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field {
    padding: 0px 4px;
}

/**
 * Table
 */
.table-sm thead th {
    padding: .9rem .3rem;
}
.table-sm td, .table-sm th {
    padding: .3rem;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    top: 0;
    bottom: auto;
}
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
    line-height: 1;
}
.btn.btn-mini, .ajax-upload-dragdrop .btn-mini.ajax-file-upload, .wizard>.actions a.btn-mini {
    padding: 0.25rem 0.85rem;
    margin-bottom: 0 !important;
    margin-top: 13px;
}

.list-wrapper .action {
    color: #5e676f;
    cursor: pointer;
    font-size: 1.438rem;
    font-weight: 600;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 20px;
    text-align: center;
}

.chart-legendsproduct.d-block ul {
    display: block;
}
.chart-legendsproduct.d-block ul li {
    display: block;
    margin-bottom: 0px;
}
.chart-legendsproduct.d-block ul li:first-child {
    margin-left: 15px;
}

#ui-notification-box {
    width: 300px;
    max-height: calc(100vh - 150px);
}

.map-wrap {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.food-item {
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 32px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    width: 13px;
    vertical-align: text-top;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input:checked:disabled+.slider {
  background-color: #d8d8d8;
}

.upload-img-product-items {
    display: flex;
}
.uploaded-prev-imd {
    position: relative;
    height: 150px;
    width: 150px;
    display: flex;
    margin-right: 7px;
}
.uploaded-prev-imd .image_wrap {
    border: 1px dashed #333333;
    border-radius: 7px;
    width: 100%;
}
.upload_pro {
    display: none;
    opacity: 0;
}
.Pic_upload {
    position: absolute;
    bottom: -22px;
    width: 100%;
    left: 0px;
    background: transparent;
    text-align: center;
    padding: 0px 0 0px 0;
    cursor: pointer;
}
.uploaded-prev-imd .image_wrap .Pic_upload {
    position: absolute;
    top: 50%;
    bottom: auto;
    width: 100%;
    left: 0px;
    /* background: transparent; */
    text-align: center;
    padding: 0px 0 0px 0;
    cursor: pointer;
    transform: translate(0, -50%);
    margin:0;
}
.uploaded-prev-imd .image_wrap .Pic_upload i {
    background-color: transparent;
    font-size: 50px;
    color: #333333;
}
.Pic_upload i {
    background: #000;
    padding: 10px;
    border-radius: 100%;
    color: #e5c9b3;
}
.uploaded-prev-imd img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.uploaded-prev-imd .del-product-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 50px;
    text-align: center;
    color: #fb6262;
    padding: 5px 0;
    cursor: pointer;
}

fieldset {
       border: 1px solid #ecf0f8;
    /* background: #ddd; */
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    /*color: #fff;*/
    padding: 5px ;
    font-size: 14px;
    border-radius: 0;
       box-shadow: 0 0 0 1px #ecf0f8;
    /*margin-left: 20px;*/
        text-transform: uppercase;
    font-weight: 500;
        width: auto;
    background: #ecf0f8;
}
.data-form-filled label{
    margin:0;
    font-size:12px;
}
.data-form-filled p{
    margin:0 !important;
    margin-bottom:10px !important;
}
.data-form-filled.view-area .col-lg-4.col-md-4.col-12{
        display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wraper-item{
    height:100px !important;
    width:100px !important;
    object-fit:contain;
}
.cover-img-wrapper{
     height:100px !important;
    width:250px !important;
    object-fit:contain;
}
.mini-cover-img-wrapper{
     height:100px !important;
    width:150px !important;
    object-fit:contain;
}

#weekly_working_days  .slider{
        background-color: #f16979;
}

#weekly_working_days input:checked+.slider {
    background-color: #ccc;
}

/*#weekly_working_days .slider::after{*/
/*    content:'OFF';*/
/*       position: absolute;*/
/*    top: 7px;*/
/*    font-size: 10px;*/
/*    right: 8px;*/
/*    font-weight: 600;*/
/*}*/

/*#weekly_working_days  input:checked+ .slider::after {*/
/*    content: 'ON' !important;*/
/*    position: absolute;*/
/*    left: 7px;*/
/*    color: #fff;*/
/*}*/

.select2-container--default .select2-selection--multiple{
        display: flex !important;
    align-items: center;
}

.password-block{
    position:relative;
}
.password-block > a{
    position:absolute;
     right: 15px;
    top: 15px;
}

#txt_attr_color{
       height: 50px !important;
    padding: 0;
}







.top-dashboard-status .column-box{
    color: #fff;
}
/*.top-dashboard-status .column-box:nth-child(2) .card{*/
/*    background: red;*/
/*}*/
/*.top-dashboard-status .column-box:nth-child(6n+0) .card{background-color: #97C1A9;}*/
/*.top-dashboard-status .column-box:nth-child(6n+1) .card{background-color: #F3DBCF;}*/
/*.top-dashboard-status .column-box:nth-child(6n+2) .card{background-color: #CCE2CB;}*/
/*.top-dashboard-status .column-box:nth-child(6n+3) .card{background-color: #F380C3;}*/
/*.top-dashboard-status .column-box:nth-child(6n+4) .card{background-color: #FDF6F7;}*/
/*.top-dashboard-status .column-box:nth-child(6n+5) .card{background-color: #FEE1E8;}*/

.top-dashboard-status .column-box:nth-child(6n+1) .card{background-color: #479644;}
.top-dashboard-status .column-box:nth-child(6n+2) .card{background-color: #5ca5d5;}
.top-dashboard-status .column-box:nth-child(6n+3) .card{background-color: #93cd9c;}
.top-dashboard-status .column-box:nth-child(6n+4) .card{background-color: #1c567c;}
.top-dashboard-status .column-box:nth-child(6n+5) .card{background-color: rgba(28,86,124,0.5);}
.top-dashboard-status .column-box:nth-child(6n+6) .card{background-color: rgba(28,86,124,0.7);}

.top-dashboard-status .column-box a{
    color: #fff;
    width: 100%;
    height: 100%;
}

.top-dashboard-status .column-box:nth-child(6n+5) a{
    /*color: #383838;*/
}
.top-dashboard-status .column-box:nth-child(6n+5) a i{
    /*color: #6e6e6e !important;*/
}
.top-dashboard-status .column-box:nth-child(6n+5) a img{
    /*filter: brightness(0.1);*/
}
.dashboard-status-board .card{
    border-radius: 15px;
}
.dashboard-status-board-bottom .card{
    border: 1px solid #1c567c !important;
}
.dashboard-status-board-bottom.statics-top .card i,
.dashboard-status-board-bottom .card h6{
    color:  #1c567c !important;
}

.navbar .navbar-brand-wrapper,
.navbar .navbar-menu-wrapper,
.sidebar,
.loader-wrap{
    background: #1c567c !important;
}
.sidebar .nav .nav-item.active, .sidebar .nav .nav-item.active:hover {
    background: #1c567c;
}
.sidebar .nav .nav-item.active>.nav-link i, .sidebar .nav .nav-item.active>.nav-link .menu-title, .sidebar .nav .nav-item.active>.nav-link .menu-arrow{
    color: #fff;
}

.top-dashboard-status .column-box{
       flex: 0 0 19%;
    max-width: 19%;
    /*height: 110px;*/
    display: flex;
    margin-left: 10px;
     margin-bottom:10px;
}
.top-dashboard-status .column-box .card .card-body{
    padding: 1rem 1rem;
}
.top-dashboard-status .column-box .card{
    width: 100%;
    height: 100%;
}
.top-dashboard-status.statics-top .card p,
.top-dashboard-status.statics-top .card .flex-row{
    text-align: center;
}
.main-panel{
    background: #fff;
}
.main-title h3{
    color: #1c567c !important;
}
.sidebar .nav .nav-item .nav-link{
    padding: 1rem 0rem 1rem 0rem;
}
.sidebar .nav .nav-item:hover {
    background: #1c567c;
}
.sidebar .nav:not(.sub-menu)>.nav-item:hover>.nav-link,
.sidebar .nav:not(.sub-menu)>.nav-item:hover> .nav-link i.menu-icon{
    color: #fff;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
    width: calc(234px - 80px);
}
.navbar .navbar-brand-wrapper .navbar-toggler{
    padding: 0 1rem 0 0;
}

.sidebar .nav.sub-menu,
.sidebar .nav .nav-item:hover .sub-menu .nav-link, .sidebar .nav .nav-item.active .sub-menu .nav-link{
    background: #1f4965;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover, .sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #6ec3fa;
}
.bg-primary{
    background-color: #1c567c !important;
}
input:checked+.slider{
    background-color: #1c567c;
}
.bg-info {
    background-color: #4a4a4a !important;
}
.btn-primary, .wizard>.actions a {
    color: #fff;
    background-color: #1c567c;
    border-color: #1c567c;
}
.btn-success {
    color: #fff;
    background-color: #8bc6aa;
    border-color: #8bc6aa;
}
.pagination .page-item .page-link, .jsgrid .jsgrid-pager .page-item .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-page a{
    color: #1c567c;
}
.page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-page a{
    background-color: #4a4a4a;
}
.page-item.disabled .page-link, .jsgrid .jsgrid-pager .disabled.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .disabled.jsgrid-pager-page .page-link, .page-item.disabled .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.disabled a, .jsgrid .jsgrid-pager .disabled.jsgrid-pager-nav-button a, .page-item.disabled .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.disabled a, .jsgrid .jsgrid-pager .disabled.jsgrid-pager-page a{
    background-color: #7f7f7f;
}


.card-body .image-up-sec{
    margin-bottom: 20px;
}
.image-up-sec fieldset,
.image-up-sec .form-group{
    height: 100%;
}

.form-height-adjust{
    margin-bottom: 1rem;
}
.form-height-adjust .form-group,
.form-height-adjust fieldset{
    height: 100%
}
.datepicker table{
    padding-bottom: 15px;
    border-collapse: inherit;
}
/*.datepicker-dropdown.datepicker-orient-left:after,*/
/*.datepicker-dropdown.datepicker-orient-left:before{*/
/*    left: auto;*/
/*    right: 6px;*/
/*}*/

@media (max-width: 767.98px) {

    .btn {
        margin-bottom:15px !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px){
    .btn {
        margin-bottom:15px !important;
    }
    .uploaded-prev-imd {
		height: 120px;
	width: 120px;
}
}

.btn-success{
    background: #1c567c;
    border-color: #1c567c;
    transition-duration: 0.4s;
}
.btn-success:hover{
    background-color: #479644 !important;
    border-color: #479644 !important;
    transition-duration: 0.4s;
    color: #fff  !important;
}
.select_cat_contain .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-right: 60px;
}
.membership_wrap .membership_card{
    padding: 20px;
    border: 1px solid #1c567c;
    border-radius: 15px;
}
.btn-primary:hover{
    background-color: #479644 !important;
    border-color: #479644 !important;
    transition-duration: 0.4s;
    color: #fff  !important;
}
.membership_card .btn{
    border-radius: 50px;
}
.membership_card .footer_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1c567c;
    padding-top: 10px;
}
.membership_card .price{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.membership_card .duration{

}
.membership_card .title{
    font-size: 28px;
    color: #1c567c;
}
.membership_card  .description{

}

.btn-primary{
    border-radius: 50px;
}
.ui-list-view .pagination li .page-link {
    color: #fff !important;
}
