.header-sticky .navbar-brand{
    position: absolute;
    top: 0;
    background: #fff;
    padding-right: 20px;
    padding-bottom: 15px;
    border-bottom-right-radius: 20px;
}
.header-sticky .navbar-brand img{
    width: 120px;
}
.mega-footer .btn-default{
    background: var(--white-color);
    color: var(--accent-color);
}
.footer-logo{
    width: 70px;
}
.section-title h3:before {
    background: url(../images/icon-heading.png) no-repeat left center;
    background-size: contain;
}
.hero-content .section-title h3:before {
    background-image: url(../images/icon-heading-light.png);
    background-size: contain;
}
.section-title h3{
    padding: 2px 0 2px 25px;
}
.hero-content .section-title h1 {
    font-size: 56px;
}
.property-types .location-item{
    max-height: 250px;
}
.footer-contact-info h3, .footer-quick-links h3, .footer-appointment h3{
    color: #fff;
}
.property-item .property-header figure img{
    height: 250px;
    object-fit: cover;
}
.property-item .property-footer{
    display: none;
}
.property-item .property-body {
    padding: 15px 15px 10px 15px;
}

@media only screen and (max-width: 767px){
    .header-sticky .navbar-brand{
        position: static;
        padding: 0;
    }
    .header-sticky .navbar-brand img {
        width: 60px;
        max-height: 52px;
    }
    header.main-header .header-sticky {
        padding: 10px 0;
    }
    .hero-content .section-title h1 {
        font-size: 28px;
    }
    .location-item {
        margin-bottom: 15px;
    }
    .property-types {
        padding: 30px 0;
    }
    .footer-contact-info {
        margin-bottom: 15px;
    }
}